color: var(--verde)


.botao {
    font-family: "Crakra Petch", sans-serif;
    font-family: 'Chakra Petch', sans-serif;
    background-color: var(--botao-inativo);
    color: var(--branco);
    display: flex;
@@ -60,6 +61,10 @@ body {
    display: block;
}

.ativo{
    background-color: var(--botao-ativo);
    border-bottom: 4px solid var(--verde);
}

@media screen and (min-width: 768px) 
    .botoes {}
}